body{
    width: 100%;
    border: solid rgb(53, 102, 24) 10px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.navigation{
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body .navbar-nav{
    width: 100%;
    justify-content: space-around;
    padding: 0 100px 0;
}
 .navbar-expand-md{
    width: 100%;
   padding: 0;
   height: 80px;
}
body .navbar-light .navbar-nav .nav-link{
    color: bisque;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(218, 235, 208);
    color: rgb(53, 102, 24);
}
body .navbar-light .navbar-nav .nav-link.active{
    color: bisque;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .navbar-light .navbar-nav .nav-link.active:hover{
    background-color: rgb(218, 235, 208);
    color: rgb(53, 102, 24);
} 
.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: 70%;
}
.banner-txt{
    position: absolute;
    bottom: 0;
    height: 150px;
    background-color: rgba(34, 32, 32, 0.555);
    padding: 10px;
    h1{
        color: yellow;
    }
    p{
        margin: 0;
        color: aliceblue;
    }
}
.item{
    background-color: rgb(53, 102, 24);
    display: flex;
    position: relative;
    padding-bottom: 10px;
    //padding: 15px;
    .col-4{
        div{
            padding: 10px 10px 10px 30px;
            float: right;
            width: 70%;
            //padding: 30px;
            //padding-left: 10px;
            

            h1{
                font-size: 20px;
                color: yellow;
                margin: 0;
                padding-bottom: 5px;
            }
            p{
                font-size: 15px;
                color: aliceblue;
                line-height: 1.1;
                font-size: 5px;
            }
        }
        img{
            border: solid 2px white;
            float: left;
            width: 30%;
            margin-top: 10px;
            transform: translateX(15px);
            //padding:30px;
            //padding-right: 0; 
        }
    }
}
.solid::before{
    position: absolute;
    content:'';
    border-left: 3px solid rgb(4, 58, 8);
    height: 90px;
    top: 5px;
}
.main{
    background: rgb(254, 254, 254);
    margin: 20px;
    h2{
        background:rgb(218, 235, 208);
        margin: 0;
        margin-bottom: 20px;
        height: 45px;
        border-bottom: solid 1px rgb(59, 90, 59);
        color: brown;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}
.item-1{
    display: flex;
    justify-content: space-between;
    .col-3{
        /*.qqq{
            display: flex;
            justify-content: center;*/
        }
       //width: auto;
        img{
            //width: 241px;
        
        }
        .txt{
            //width: 200px;
            h3{
                margin: 15px 0;
                color: brown;
            }
        }
    }
}
